<!DOCTYPE html> 
<html lang="ru"> 
<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<link rel="stylesheet" href="style.css?v=0"> 
	<!-- Стандартные иконки -->
	<link rel="icon" href="./images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="./images/favicon.svg" type="image/svg+xml">

	<!-- Apple Touch Icons -->
	<link rel="apple-touch-icon" href="./images/180x180.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./images/180x180.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./images/152x152.png">

	<!-- Базовые Open Graph теги -->
	<meta property="og:title" content="Приглашение на свадьбу" />
	<meta property="og:description" content="Подтвердите своё присутствие, заполнив анкету" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://wedding.wwdiv.com" />
	<meta property="og:image" content="https://wedding.wwdiv.com/images/1200х630.jpg" />
	<meta property="og:site_name" content="Приглашение на свадьбу" />

	<!-- Детали изображения (рекомендуется для лого) -->
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:alt" content="Приглашение на свадьбу" />

	<!-- Для Twitter/X -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Приглашение на свадьбу" />
	<meta name="twitter:description" content="Подтвердите своё присутствие, заполнив анкету" />
	<meta name="twitter:image" content="https://wedding.wwdiv.com/images/1200х630.jpg" />
	<!-- <meta name="twitter:site" content="@ваш_аккаунт" /> -->
	
	<title>Приглашение на свадьбу</title> 
</head> 
<body @@if(this.id){id="@@id"}>