@use 'lib' as *;

.title {
	$self: &;
	font-family: "GV", sans-serif;
	font-size: 60px;
	text-align: center;
	padding-top: 5px;
	line-height: 1.12;
	background: linear-gradient(150deg, #263901 0%, #2f7509 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

	&_he {
		font-family: "DR", Tahoma, sans-serif;
		font-size: 48px;
	}
}