@use 'lib' as *;

.success {
	$self: &;
	$index: calc(1vw + 1vh);
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	padding-top: 85px;
	background-image: 
		url('./images/bg-success-alcove.webp'), 
		url('./images/bg-success-sky.webp'), 
		url('./images/bg-paper-light.png');
	background-repeat: 
		no-repeat,
		no-repeat,
		repeat;
	background-position: 
		center bottom -50px,
		center top, 
		center;
	background-size: 
		100% auto, 
		440px auto, 
		auto;

	border: 2px solid #916720;
	border-image: linear-gradient(90deg,
		rgba(215, 170, 45, 1) 0%,
		rgba(215, 170, 45, 1) 21%,
		rgba(242, 226, 120, 1) 39%,
		rgba(255, 251, 154, 1) 48%,
		rgba(249, 238, 137, 1) 50%,
		rgba(215, 170, 45, 1) 62%,
		rgba(195, 151, 41, 1) 71%,
		rgba(145, 103, 32, 1) 91%,
		rgba(118, 78, 27, 1) 100%) 2;

	@include media('<=md') {
		padding-top: 55px;
	}
	
	@include media('<=xxs') {
		border: none;
	}

	&__married {
		width: 290px;
		max-width: calc(100% - 80px);
		margin: 0 auto 37px;
		
		@include media('<=md') {
			margin: 0 auto 37px;
		}
	
		/* @include media('<=xxs') {
			width: calc(#{$index} * 20.0);
		} */
	}
	
	&__text {
		font-size: 40px;
		font-weight: 600;
		line-height: 1.07;
		text-align: center;
		text-transform: uppercase;
		margin: 0 auto;
		max-width: 320px;
		max-width: calc(100% - 28px);
		display: none;
		
		@include media('<=md') {
			font-size: 38px;
			padding: 20px 15px;
			background-color: rgba(255, 255, 255, 0.45);
			border-radius: 15px;
		}

		&_ru {

		}

		&_en {

		}

		&_he {
			direction: rtl;
			font-family: "DL", Tahoma, sans-serif;
			font-weight: 500;
			font-size: 37px;
		}
	
		span {
			background: linear-gradient(117deg, #263901 0%, #1E5501 100%);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
		}

		/* @include media('<=xxs') {
			font-size: calc(#{$index} * 2.8);
		} */

		@include media('<=xxxs') {
			font-size: 36px;
		}
	}

	&__developer {
		margin-top: auto;
	}
}