@use 'lib' as * with(
	$breakpoints: (
		'xxxs': 360px,
		'xxs': 480px,
		'xs': 640px,
		'sm': 780px,
		'md': 960px,
		'lg': 1100px,
		'xlg': 1280px,
		'xxlg': 1440px,
		'xxxlg': 1680px,
		'xxxxlg': 1928px
	)
);

@use "../blocks/**/*.scss";
// @use "../../node_modules/swiper/swiper";

// Browsersync mark
#__bs_notify__ { 
	background-color: rgba(27, 32, 50, 0.4) !important;
	color: rgba(250, 250, 250, 0.6) !important;
}

// Include breakpoints badge
// body { @include screen-media(); }

@include font-face("AlumniSans-ExtraLight", "AL", 200);
@include font-face("AlumniSans-ExtraBold", "AL", 800);
@include font-face("AlumniSans-SemiBold", "AL", 600);
@include font-face("AlumniSans-Regular", "AL", 400);
@include font-face("AlumniSans-Medium", "AL", 500);
@include font-face("AlumniSans-Light", "AL", 300);
@include font-face("AlumniSans-Black", "AL", 900);
@include font-face("AlumniSans-Bold", "AL", 700);
@include font-face("AlumniSans-Thin", "AL", 100);

@include font-face("DavidLibre-Bold", "DL", 700);
@include font-face("DavidLibre-Medium", "DL", 500);
@include font-face("DavidLibre-Regular", "DL", 400);

@include font-face("Dorian-Regular", "DR", 400);
@include font-face("GreatVibes-Regular", "GV", 400);

body, html {
	// scrollbar-gutter: stable;
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: var(--size);
	color: var(--text);
	font-family: "AL", sans-serif;
	line-height: 1.2;
	font-weight: 400;
	min-height: 100svh;
	display: flex;
	flex-flow: column nowrap;
}

body {

	&#home {
		background-color: #fff;
		background-image: 
			url('./images/bg-desktop-top-left.webp'), 
			url('./images/bg-desktop-top-right.webp'), 
			url('./images/bg-desktop-middle-left.webp'), 
			url('./images/bg-desktop-middle-right.webp'), 
			url('./images/bg-desktop-bottom-left.webp'), 
			url('./images/bg-desktop-bottom-right.webp'), 
			url('./images/bg-paper-light.png');
		background-repeat: 
			no-repeat, 
			no-repeat, 
			no-repeat, 
			no-repeat, 
			no-repeat, 
			no-repeat, 
			repeat;
		background-position: 
			left top -10px, 
			right top -10px, 
			left calc(50% - 230px),
			right calc(50% + 150px),
			left bottom,
			right bottom,
			center;
		background-size: 
			620px auto, 
			590px auto, 
			680px auto, 
			540px auto, 
			610px auto, 
			590px auto, 
			auto;
	}

	&#success {
		background-color: #fff;
		background-image: 
			url('./images/bg-success-left.webp'), 
			url('./images/bg-success-right.webp'), 
			url('./images/bg-paper-light.png');
		background-repeat: 
			no-repeat, 
			no-repeat, 
			repeat;
		background-position: 
			left center,
			right center,
			center;
		background-size: 
			auto 100%,
			auto 100%,
			auto;
	}
}

/* .sprite {
	display: none;
} */

p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes bounce {
	0%, 10%, 20%, 30%, 40% { transform: translateY(0); }
	5%, 25% { transform: translateY(-5px); }
	15%, 35% { transform: translateY(-5px); }
	100% { transform: translateY(0); }
}