@use 'lib' as *;

.form {
	$self: &;
	
	&_he {
		#{$self}__come, 
		#{$self}__row span, 
		#{$self}__submit span, 
		#{$self}__message span {
			font-family: "DL", Tahoma, sans-serif;
		}
		
		#{$self}__come::after,
		#{$self}__message span::after {
			font-size: 34px;
		}
	}

	&_en {
		#{$self}__row_howmuch {
			letter-spacing: -0.004em;
		}

		#{$self}__counter {
			max-width: 160px;
		}
	}

	&__come {
		font-size: 30px;
		margin-bottom: 10px;
	}

	&__row {
		display: flex;
		align-items: center;
		font-size: 30px;
		gap: 20px;
		
		&_willcome {
			margin-bottom: 17px;
		}
		
		&_howmuch {
			margin-bottom: 40px;
		}
		
		&_sorry {
			margin-bottom: 17px;
		}

		&_getname {
			@include hide();
		}
	}

	&__check {
		@extend %reset-input;
		display: inline-flex;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		cursor: pointer;
		height: 50px;
		width: 50px;
		transition: box-shadow 0.3s;
		border: 1px solid transparent;
		background: 
			linear-gradient(white, white) padding-box,
			linear-gradient(-90deg,
				rgba(215, 170, 45, 1) 0%,
				rgba(215, 170, 45, 1) 21%,
				rgb(219, 199, 64) 39%,
				rgb(218, 212, 55) 48%,
				rgb(216, 200, 55) 50%,
				rgba(215, 170, 45, 1) 62%,
				rgba(195, 151, 41, 1) 71%,
				rgba(145, 103, 32, 1) 91%, 
				rgba(118, 78, 27, 1) 100%) 
			border-box;
		
		&.error {
			box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
		}
		
		&:checked {
			background: 
				url('./images/checked-icon.svg') center / auto no-repeat,
				linear-gradient(white, white) padding-box,
				linear-gradient(-90deg,
					rgba(215, 170, 45, 1) 0%,
					rgba(215, 170, 45, 1) 21%,
					rgb(219, 199, 64) 39%,
					rgb(218, 212, 55) 48%,
					rgb(216, 200, 55) 50%,
					rgba(215, 170, 45, 1) 62%,
					rgba(195, 151, 41, 1) 71%,
					rgba(145, 103, 32, 1) 91%, 
					rgba(118, 78, 27, 1) 100%) 
				border-box;
		}
	}

	&__counter {
		display: flex;
		justify-content: space-between;
		border-radius: 8px;
		overflow: hidden;
		margin-left: auto;
		padding: 8px;
		height: 58px;
		max-width: 180px;
		border: 1px solid transparent;
		background: 
			linear-gradient(white, white) padding-box,
			linear-gradient(-90deg,
				rgba(215, 170, 45, 1) 0%,
				rgba(215, 170, 45, 1) 21%,
				rgb(219, 199, 64) 39%,
				rgb(218, 212, 55) 48%,
				rgb(216, 200, 55) 50%,
				rgba(215, 170, 45, 1) 62%,
				rgba(195, 151, 41, 1) 71%,
				rgba(145, 103, 32, 1) 91%, 
				rgba(118, 78, 27, 1) 100%) 
			border-box;

		input, button {
			@extend %reset-button;
			width: 100%;
			font-size: 30px;
			text-align: center;
			line-height: 1;
		}

		input {

			&:disabled {
				color: #aaa;
			}
		}

		button {
			width: 40px;
			position: relative;
			border: 1px solid transparent;
			border-radius: 4px;
			flex-shrink: 0;
			background: 
				linear-gradient(white, white) padding-box,
				linear-gradient(-90deg,
					rgba(215, 170, 45, 1) 0%,
					rgba(215, 170, 45, 1) 21%,
					rgb(219, 199, 64) 39%,
					rgb(218, 212, 55) 48%,
					rgb(216, 200, 55) 50%,
					rgba(215, 170, 45, 1) 62%,
					rgba(195, 151, 41, 1) 71%,
					rgba(145, 103, 32, 1) 91%, 
					rgba(118, 78, 27, 1) 100%) 
				border-box;

			&:first-child {
				&::before {
					display: block;
					content: '';
					width: calc(100% - 8px);
					height: 1px;
					position: absolute;
					top: calc(50% - 1px);
					left: 4px;
					background: linear-gradient(-90deg,
						rgba(215, 170, 45, 1) 0%,
						rgba(215, 170, 45, 1) 21%,
						rgb(219, 199, 64) 39%,
						rgb(218, 212, 55) 48%,
						rgb(216, 200, 55) 50%,
						rgba(215, 170, 45, 1) 62%,
						rgba(195, 151, 41, 1) 71%,
						rgba(145, 103, 32, 1) 91%, 
						rgba(118, 78, 27, 1) 100%) 
					border-box;
				}
			}

			&:last-child {
				&::before, &::after {
					display: block;
					content: '';
					width: calc(100% - 8px);
					height: 1px;
					position: absolute;
					top: calc(50% - 1px);
					left: 4px;
					background: linear-gradient(-90deg,
						rgba(215, 170, 45, 1) 0%,
						rgba(215, 170, 45, 1) 21%,
						rgb(219, 199, 64) 39%,
						rgb(218, 212, 55) 48%,
						rgb(216, 200, 55) 50%,
						rgba(215, 170, 45, 1) 62%,
						rgba(195, 151, 41, 1) 71%,
						rgba(145, 103, 32, 1) 91%, 
						rgba(118, 78, 27, 1) 100%) 
					border-box;
				}

				&::after {
					rotate: 90deg;
				}
			}
		}
	}

	&__message {
		margin-bottom: 25px;

		span {
			display: block;
			font-size: 30px;
			text-align: center;
			margin-bottom: 14px;
		}
	}

	&__textarea {
		@extend %reset-input;
		width: 100%;
		min-height: 100px;
		border-radius: 13px;
		padding: 10px;
		font-size: 24px;
		transition: box-shadow 0.3s;
		border: 1px solid transparent;
		background: 
			linear-gradient(white, white) padding-box,
			linear-gradient(90deg,
				rgba(215, 170, 45, 1) 0%,
				rgba(215, 170, 45, 1) 21%,
				rgb(219, 199, 64) 39%,
				rgb(218, 212, 55) 48%,
				rgb(216, 200, 55) 50%,
				rgba(215, 170, 45, 1) 62%,
				rgba(195, 151, 41, 1) 71%,
				rgba(145, 103, 32, 1) 91%, 
				rgba(118, 78, 27, 1) 100%) 
			border-box;
		
		&.error {
			box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
		}
	}

	&__submit {
		@extend %reset-button;
		display: block;
		height: 54px;
		width: 100%;
		margin: 0 auto;
		max-width: 205px;
		text-transform: uppercase;
		border-radius: 100px;
		font-size: 30px;
		font-weight: 500;
		border: 1px solid transparent;
		background: 
			linear-gradient(white, white) padding-box,
			linear-gradient(90deg,
				rgba(215, 170, 45, 1) 0%,
				rgba(215, 170, 45, 1) 21%,
				rgb(219, 199, 64) 39%,
				rgb(218, 212, 55) 48%,
				rgb(216, 200, 55) 50%,
				rgba(215, 170, 45, 1) 62%,
				rgba(195, 151, 41, 1) 71%,
				rgba(145, 103, 32, 1) 91%, 
				rgba(118, 78, 27, 1) 100%) 
			border-box;

		span {
			background: 
				linear-gradient(90deg,
					rgba(215, 170, 45, 1) 0%,
					rgba(215, 170, 45, 1) 21%,
					rgb(219, 199, 64) 39%,
					rgb(218, 212, 55) 48%,
					rgb(216, 200, 55) 50%,
					rgba(215, 170, 45, 1) 62%,
					rgba(195, 151, 41, 1) 71%,
					rgba(145, 103, 32, 1) 91%, 
					rgba(118, 78, 27, 1) 100%) 
				border-box;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
		}
	}
}